body{
	margin:0 0;
	font-family: "Fanwood Text";
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***General styling***/
.hello-intro{
  text-transform: uppercase;
  color:#fff;
}
.cursive-intro{
  color:#58C9B9;
  font-family: 'Satisfy', cursive;
}
body h1{
  font-family: "Fanwood Text";
  color:#fff;
  font-size: 4em;
  font-weight: normal;
}
body h2{
	font-size:2em;
	letter-spacing:0.1em;
  font-family: 'Raleway', sans-serif;
}
body h3{
  font-family: "Fanwood Text";
  font-size:2.5em;
  text-transform: uppercase;
  color:#424242;
}
body h4{
	text-align:center;
	font-size:1.3em;
	color:#333;
  font-family: 'Raleway', sans-serif;
}
body p{
  font-family:'Fanwood Text';
  font-size: 1.2em;
  color:#000;
}
.hr-small{
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.hr-small1{
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*Scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/*Track piece*/
::-webkit-scrollbar-track-piece{
	background:none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(0,0,0,0.8); 
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/*Animations*/
/*Slide left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(-200px, 0px, 0px);
  -webkit-transform: translate3d(-200px, 0px, 0px);
  -o-transform: translate(-200px, 0px);
  -ms-transform: translate(-200px, 0px);
  transform: translate3d(-200px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*Bounce up*/
.bounce-up  {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/***menu styling***/
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100%;
  margin-right: -100vw;
  overflow: hidden;
  background: #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100vw;
  margin: 0;
  padding-top: 4em;
  text-align: center;
  list-style: none;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
  font-size:2em;
  font-family: 'Poiret One', cursive;
  padding-top: 2em;
  -webkit-transition: all 1s ease; 
  -moz-transition: all 1s ease; 
  -ms-transition: all 1s ease; 
  -o-transition: all 1s ease; 
  transition: all 1s ease;
  z-index: 1;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transform:scale(1.25); 
  -moz-transform:scale(1.25); 
  -ms-transform:scale(1.25); 
  -o-transform:scale(1.25); 
  transform:scale(1.25);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar {
  font-size: 1.3em;
  line-height: 2em;
}

.sidebar-nav > .sidebar a {
  color: #999;
}

.sidebar-nav > .sidebar a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  z-index: 99;
  position: fixed;
  top: 1.2em;
  right: 1em;
  color: #58C9B9;
  cursor:pointer;
}
#menu-close{
	float:right;
  margin-top:-2em;
  margin-right: 1em;
  color:#fff;
  z-index: 9;
}
#sidebar-wrapper.active {
  right: 100vw;
  width: 100vw;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
/***Header styling***/
#myVideo{
	width: 100vw;
	height: 100vh;
	background-size: 100%;
  background-color: black;
  background-position: center;
  background-size: contain;
  object-fit: cover; 
}
#section .layer{
	position: absolute;
	z-index: 4;
	width: 100%;
	top: 7em;
}
#section{
	overflow: hidden;
}

.arrow {
  position:absolute;
  bottom: 0;
  left: 48%;
}
.arrow .btn,.arrow .btn:hover,
.arrow .btn:focus {
  outline: 0;
  color:#58C9B9;
}

.arrow:hover i {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {    
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.name{
	margin:3em 3em;
	word-wrap: break-word;
  max-width: 600px;
}
/***About section styling***/
.about {
  min-height:47em;
  margin:0 auto;
}
@media only screen and (min-width : 980px) {
  .slider {
    width: 60%;
    min-height: 47em;
    overflow: hidden;
    display: inline-block;
    transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
    margin-left: -9em;
    border-right: 5px solid #000;
    pointer-events: none;
  }
  .box { 
    width: 100%;
    min-height: 47em;
    padding:2em 3em;
  } 
  .box h2{
    letter-spacing: 0.2;
    font-size:4em;
  }
  .background {
    transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    background: #FAFAFA;
    color:#000;
    margin-left: 9em;
    padding-right: 30%; 
    pointer-events: auto; 
    text-align: left;
  }
  .about-brief{
    width: 450px;
  }
  .background p{
    font-size: 1.5em;
  }
  .skills {
    min-height: 47em;
    background: #111;
    position: absolute;  
    color:#fff;
    text-align: right;
    padding-top: 4em;
  }

  .skillset > div {
    position:relative;
    padding:0 0;
    margin:0 0;
    display:inline-block;
    width:100px;
    height:100px;
  }

  .slider:hover {
    width: 70%;
  }

  .skills:hover + .slider { 
   width: 50%;
 }
}

/***projects styling***/
#projects:after {
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  transform: skewY(-3deg);
  height: 10em;
  width: 100%;
  content: "";
  left: 0;
  margin-top: 3em;
  background: #111;
  position: absolute;
}
.projects {
  padding-top:2em;
  padding-bottom: 10em;
  background-color:#111;
  margin-bottom: 2em;
  z-index:0;
}
.projects h2{
  color:#fff;
  text-transform: uppercase;
}
.project-brief p{
  font-size: 1.5em;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
  width:8%;
  font-size:8em;
  vertical-align: middle;
  color:#58C9B9;
}
.carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;  
  text-indent: 0;
  cursor: pointer;
  border: none;
  box-shadow: inset 1px 1px 1px 1px rgba(88,201,185,0.5);    
}
.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  max-height: 1500px;
}
.item{
  background:#FAFAFA;
}
.project-desc{
  padding-top:4em;
  padding-bottom: 4em;
}
.project-name{
  font-size: 2.5em;
}
.project-brief{
  padding-top:2em;
  padding-bottom: 2em;
  text-align: right;
  margin-right: 5em;
}
.project-links{
  text-align: center;
  margin-bottom: 2em;
}
.project-links a{
  text-decoration: none;
  padding-left: 2em;
  color:#58C9B9;
}
.project-links a:hover{
  text-decoration: none;
  color:#188475;
}


/***Contact styling***/
#contact{
  padding-top: 6em;
  background:#fff;
}
#contact h2{
  text-transform: uppercase;
  color:#000;
}

.btn-submit{
  cursor:pointer; 
  width: 100%;
  height: 40px;
  border:none;
  background-color: #58C9B9;
  font-size: 16px;
  color:white;
  margin-top: 10px;
  outline: none;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.btn-submit:hover{
  background-color: #fff;
  border:1px solid #58C9B9;
  color:#58C9B9;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%);
}
.contact-form{
  padding-top:2em;
  max-width: 400px;
  margin: 0 auto;
}

#contactForm .input-group span {
  background: transparent;
  min-width: 53px;
  border: none;
}
#contactForm .input-group span i {
  font-size: 1.5em;
  color: #58C9B9;
}
#contactForm input.form-control {
  display: block;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
  background: transparent;
  color: #333;
  border-bottom: 1px solid #333;
}
#contactForm input.form-control:focus {
  border: none;
  border-bottom: 1px solid #333;
}
.social-icons{
  max-width:300px;
  margin:0 auto;
}
.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 300px;
}

.socials li {
  display: inline-block;
  width: 20%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  float: left;
}

.socials a:link,
.socials a:visited {
  position: relative;
  display: block;
  color: #e6e6e6 !important;
  text-decoration: none;
}
.sb{
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.sb:hover{
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -moz-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
li.github-sb{
  background: #0b0b0b;
}

li.gplus-sb {
  background: #dd4639;
}

li.linkedin-sb {
  background: #55acee;
}

li.fb-sb {
  background: #3b5998;
}

li.email-sb  {
  background: #c4302b;
}
div.hr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 300px;
  margin: 40px 0;
  color: #555;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
div.hr div {
  font-family: 'Courgette', cursive;
  font-size: 1.2em;
}
div.hr div:first-child,
div.hr div:last-child {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  position: relative;
}
div.hr div:first-child:before,
div.hr div:last-child:before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: #5F5F5F;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
div.hr div:first-child {
  margin-right: 20px;
}
div.hr div:last-child {
  margin-left: 20px;
}
/***Footer styling***/
footer{
  background:#111;
  text-align:center;
  padding:2.5em 0;
  margin-top:4em;
  z-index:2;
}
.footer-text{
  color:#fff;
  font-family: 'Raleway', sans-serif;
}
.fa-heart{
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

